
<!--    -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Catalogue</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/catalogue.css">
    <link rel="stylesheet" href="../assets/css/global.css">

</head>
<header class="header">
    <a class="title" href="./accueil">
        <h1> wethefoot</h1>
    </a>
    <nav class="Catalogue-Euro">
        <a href="./catalogue">Catalogue</a>
        <a href="/">Euro 2024</a>
    </nav>
    <form action="/search" method="GET">
        <input type="text" name="search" id="recherche" placeholder="Search for a team, a brand..." autocomplete="off">
    </form>

    <nav class="Fav-Panier">
        <a href="./favoris"><img src="../assets/img/contour-en-forme-de-coeur.png"></a>
        <a href="./panier"><img src="../assets/img/sac-de-courses.png"></a>
    </nav>
</header>

<body>
    <section class="container-catalogue">
        <h2> Tous nos Maillots </h2>

        <div class="container-marque">
            <div class="marque">
                <img src="../assets/img/adidas.png"> <p>Adidas</p>
            </div>
            <div class="marque">
                <img src="../assets/img/nike.png"> <p>Nike</p>
            </div>
            <div class="marque">
                <img src="../assets/img/puma.png"> <p>Puma</p>
            </div>
            <div class="marque">
                <p class="other"> Autres marques </p>
            </div>
        </div>

        <div class="container-filter">
            <p> Filtre </p> <img src="../assets/img/filtre.png">
        </div>
        <div class="container-produits">
            <% if (produits.length===0){ %>
                <h2>Aucun produit correspondant au filtre n'a été trouvé.</h2>
                <% } else { %>
                    <% produits.forEach(produit=> { %>
                        <div class="produits">
                            <% const imagesPaths=produit.images_paths.split(','); %>
                            <a href="/produit/<%= produit.idProduct %>">
                             <img src="<%=imagesPaths[0] %>" alt="Image du produit">
                            </a>
                                <div class="coeur"></div>
                                <h3>
                                    <%= produit.name %>
                                </h3>
                                <h4>
                                    <%= produit.gender %>
                                </h4>
                                <h5> Prix: <%= produit.price %>
                                        <%= produit.devise %>
                                </h5>
                        </div>
                        <% }); %>
                            <% }; %>
        </div>

        <section class="pagination-container">
            <div class="pagination">
                <img src="../assets/img/fleche-gauche.png">
                <img src="../assets/img/fleche-droite.png">
            </div>
        </section>
    </section>


    <footer>
        <div class="nav-footer">
            <a href=""> CONTACT </a>
            <a href=""> MENTIONS LEGALES </a>
        </div>
    </footer>

</body>

</html>