<!--    -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Catalogue</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/catalogue.css">
    <link rel="stylesheet" href="../assets/css/search.css">
    <link rel="stylesheet" href="../assets/css/global.css">
<script src="../assets/js/favoris.js" defer></script>
</head>

<header class="header">
    <a class="title" href="/backend/home">
        <h1>wethefoot</h1>
    </a>
    <form action="/backend/search" method="GET">
        <input type="text" name="search" id="search" placeholder="Search for a team, a brand..." autocomplete="off">
    </form>
    <nav class="Fav-Panier">
        <a href="/backend/catalogue">Catalogue</a>
        <a href="/backend/favoris"><img src="../assets/img/contour-en-forme-de-coeur.png"></a>
        <a href="/backend/panier"><img src="../assets/img/sac-de-courses.png"></a>
    </nav>
</header>


<body>
    <section class="container-catalogue">
        <h2> Tous nos Maillots </h2>
        <!--
        <div class="container-marque">
            <div class="marque">
                <img src="../assets/img/adidas.png"> <p>Adidas</p>
            </div>
            <div class="marque">
                <img src="../assets/img/nike.png"> <p>Nike</p>
            </div>
            <div class="marque">
                <img src="../assets/img/puma.png"> <p>Puma</p>
            </div>
            <div class="marque">
                <p class="other"> Autres marques </p>
            </div>
        </div>
        -->

        <div class="container-filter">
            <div class="container-filter-content">
                <form action="/backend/catalogue">
                    <p>Genre</p>
                    <select name="gender" id="gender">

                        <option value="">TOUS</option>
                        <option value="femme">Femme</option>
                        <option value="homme">Homme</option>
                    </select>
                    <p>Type</p>
                    <select name="type" id="type">
                        <option value="">TOUS</option>
                        <option value="maillot">Maillot</option>
                        <option value="short">Short</option>
                    </select>

                    <input type="submit" value="Filtrer">
                </form>
            </div>
            <button id="sort-button">
                Trier par prix
            </button>
        </div>
        <div class="container-produits">
            <% if (produits.length===0){ %>
                <h2>Aucun produit correspondant au filtre n'a été trouvé.</h2>
                <% } else { %>
                    <% produits.forEach(produit=> { %>
                        <div class="produits post">
                            <% const imagesPaths = produit.images_paths; %>
                            <a href="/backend/produit/<%= produit.idProduct %>">
                                <img src="<%= imagesPaths[0] %>" class="product-imagePath" alt="Image du produit">
                            </a>
                            <div class="coeur like"></div> <!--ajouté parmi les favoirs-->
                            <input type="hidden" class="produit-idProduct" data-id="<%= produit.idProduct %>">
                            <input type="hidden" class="produit-imagePath" data-imagePath="<%= imagesPaths[0] %>">
                            <h3 class="product-name" data-name="<%= produit.name %>">
                                <%= produit.name %>
                            </h3>
                            <h4 class="product-gender" data-name="<%= produit.gender %>">
                                <%= produit.gender %>
                            </h4>
                                <!-- if reduction === 0 => display none-->
                                <% if (produit.reduction===0) { %>
                                    <p></p>
                                    
                                    <h6 class="new-price product-price">
                                        <%= Math.round(produit.price - (produit.price * produit.reduction /
                                            100)) %>
                                            <% if (produit.devise==='EURO' ) { %>
                                                <%= produit.devise='€' %>
                                                    <% } else if (produit.devise==='DOLLARS' ) { %>
                                                        <%= produit.devise='$' %>
                                                            <% } %>
                                    </h6>
                                    <% } %>
                                        
                                            <% if (produit.reduction !==0) { %>
                                                <h3 class="old-price product-price" data-price="<%= Math.round( produit.price - (produit.price * produit.reduction / 100)) %>" data-currency="<%= produit.devise %>">
                                                    Prix: <%= produit.price %>
                                                    <% if (produit.devise === 'EURO') { %>
                                                        <%= produit.devise = '€' %>
                                                    <% } else if (produit.devise === 'DOLLARS') { %>
                                                        <%= produit.devise = '$' %>
                                                    <% } %>
                                                </h3>
                                                <h6 class="new-price product-price" data-price="<%= Math.round( produit.price - (produit.price * produit.reduction / 100)) %>" data-currency="<%= produit.devise %>">
                                                    <%= Math.round( produit.price - (produit.price * produit.reduction / 100)) %>
                                                    <%= produit.devise %>
                                                </h6>
                                                <% } %>
                            
                        </div>
                        <% }); %>
                            <% }; %>
        </div>

        <section class="pagination-container">
            <div class="pagination">
                <% if (typeof currentPage !=='undefined' && currentPage> 1) { %>
                    <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>">
                        <img src="../assets/img/fleche-gauche.png" alt="fleche-gauche">
                    </a>
                    <% } %>

                        <!-- <% if (typeof totalPages !== 'undefined') { %>
                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <a href="?page=<%= i %>&limit=<%= limit %>"
                           class="<%= currentPage === i ? 'active' : '' %>">
                            <%= i %>
                        </a>
                    <% } %>
                <% } %> -->

                        <% if (typeof currentPage !=='undefined' && typeof totalPages !=='undefined' && currentPage <
                            totalPages) { %>
                            <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>">
                                <img src="../assets/img/fleche-droite.png" alt="fleche-droite">
                            </a>
                            <% } %>
            </div>
        </section>

    </section>


    <footer>
        <div class="nav-footer">
            <a href="/backend/mentions"> CONTACT </a>
            <a href="/backend/mentions"> MENTIONS LEGALES </a>
        </div>
    </footer>

</body>
<script defer>
// Fonction de tri des produits par prix
function trierProduitsParPrix() {
  // Récupérer tous les éléments de produit
  const produits = document.getElementsByClassName('produits');

  // Convertir la liste d'éléments en tableau pour pouvoir trier
  const produitsArray = Array.from(produits);

  // Trier les produits en fonction du prix
  produitsArray.sort((a, b) => {
    const prixA = parseFloat(a.querySelector('.product-price').getAttribute('data-price'));
    const prixB = parseFloat(b.querySelector('.product-price').getAttribute('data-price'));

    return prixA - prixB;
  });
  const containerProduits = document.querySelector('.container-produits');
  containerProduits.innerHTML = '';

  // Réinsérer les produits triés dans le bon ordre
  produitsArray.forEach(produit => {
    containerProduits.appendChild(produit);
  });
}

// Gestionnaire d'événements pour le clic sur le bouton de tri
const sortButton = document.getElementById('sort-button');
sortButton.addEventListener('click', trierProduitsParPrix);
</script>
</html>