<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Accueil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<header class="header">
    <a class="title" href="/backend/home">
        <h1>wethefoot</h1>
    </a>
    <form action="/backend/search" method="GET">
        <input type="text" name="search" id="search" placeholder="Search for a team, a brand..." autocomplete="off">
    </form>
    <nav class="Fav-Panier">
        <a href="/backend/catalogue">Catalogue</a>
        <a href="/backend/favoris"><img src="../assets/img/contour-en-forme-de-coeur.png"></a>
        <a href="/backend/panier"><img src="../assets/img/sac-de-courses.png"></a>
    </nav>
</header>

<section class="container-index">
    <img src="../assets/img/pexels-bohlemedia-1884574.jpg">
    <div class="container-decouvrir">
        <div class="container-decouvrir-text">
            <h2>Retrouvez vos equipes favorites.</h2>
            <h3> Tous les maillots anciens ou nouveaux de vos clubs préférés sont disponible sur notre site dès
                maintenant. </h3>
            <a href="/backend/catalogue"><button>
                    <p>Decouvrir </p>
                </button></a>
        </div>
    </div>
</section>
<section class="container-new">


    <section class="swiper">
        <div class="new">
            <p> NEW </p>
        </div>
        <div class="swiper-wrapper">
            <% if (produits.length===0) { %>
                <h2>Aucune nouveauté pour l'instant.</h2>
                <% } else { %>
                    <% produits.forEach(produit=> { %>
                        <div class="swiper-slide">
                            <% const imagesPaths=produit.images_paths ; %>
                                <a href="/backend/produit/<%= produit.idProduct %>">
                                    <img src="<%= imagesPaths[0] %>" alt="Image du produit">
                                </a>
                                <div class="coeur"></div>
                                <h3>
                                    <%= produit.name %>
                                </h3>
                                <h4>
                                    <%= produit.gender %>
                                </h4>
                                <h5> Prix: <%= produit.price %>
                                        <% if (produit.devise==='EURO' ) { %>
                                            <%= produit.devise='€' %>
                                                <% } else if (produit.devise==='DOLLARS' ) { %>
                                                    <%= produit.devise='$' %>
                                                        <% } %>
                                </h5>
                        </div>
                        <% }); %>
                            <% }; %>
        </div>


        <div class="swiper-navigation">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>


    </section>
</section>
<footer>
    <div class="nav-footer">
        <a href="/backend/mentions"> CONTACT </a>
        <a href="/backend/mentions"> MENTIONS LEGALES </a>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="../assets/js/carrousel.js"></script>

</body>

</html>