<!DOCTYPE html>
<html lang="en">
    <head>
        <title>liste des produits</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/style.css">
    </head>
<body>
    <h1>Liste des Produits</h1>
    <% produits.forEach(produit => { %>

        <div>
            <a href="/produit/<%= produit.idProduct %>">voir les détails</a>
            <h2><%= produit.name %></h2>
            <p>Description: <%= produit.description %></p>
            <p>Prix: <%= produit.price %> <%= produit.devise %></p>
            <p>Réduction: <%= produit.reduction %> %</p>
            <p>Quantité: <%= produit.quantity %></p>
            <p>Genre: <%= produit.gender %></p>
            <p>Type: <%= produit.type %></p>
            <p>Couleurs: <%= produit.colors %></p>
            <p>Taille: <%= produit.size %></p>
            <h3>Images:</h3>
            <% const imagesPaths = produit.images_paths.split(','); %>
            <% imagesPaths.forEach(imagePath => { %>
                
                <img src="<%=
                 imagePath %>" alt="Image du produit" width="150px">
            <% }); %>
        </div>
    <% }); %>
</body>
</html>
