<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Détails du Produit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="../assets/css/produit.css">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="../assets/js/paymentStripe.js"></script>
    <script src="../assets/js/produit.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <style>
        .selected {
            background-color: #ddd;
        }
    </style>
</head>

<body>
    <header class="header">
        <a class="title" href="/accueil">
            <h1>wethefoot</h1>
        </a>
        <nav class="Catalogue-Euro">
            <a href="/catalogue">Catalogue</a>
            <a href="/">Euro 2024</a>
        </nav>
        <form action="/" method="post">
            <input type="text" name="recherche" id="recherche" placeholder="Search for a team, a brand..." autocomplete="off">
        </form>
        <nav class="Fav-Panier">
            <a href="/favoris"><img src="../assets/img/contour-en-forme-de-coeur.png"></a>
            <a href="/panier"><img src="../assets/img/sac-de-courses.png"></a>
        </nav>
    </header>

    <!-- Afficher les détails d'un produit -->
    <div>
        <input type="hidden" id="produit-idProduct" data-id="<%= produit.idProduct %>">
        <h2 id="product-name" data-name="<%= produit.name %>"><%= produit.name %></h2>
        <p id="product-description" data-description="<%= produit.description %>">Description: <%= produit.description %></p>
        <p id="product-price" data-price="<%= produit.price %>" data-currency="<%= produit.devise %>">Prix: <%= produit.price %> <%= produit.devise %></p>
        <p id="product-reduction" data-reduction="<%= produit.reduction %>">Réduction: <%= produit.reduction %> %</p>
        <p>Genre: <%= produit.gender %></p>
        <p>Type: <%= produit.type %></p>

        <form id="product-form">
            <div>
                <label>Couleur:</label>
                <% produit.colors.split(',').forEach((color, index) => { %>
                <button type="button" class="color-button <%= index === 0 ? 'selected' : '' %>" data-color="<%= color %>">
                    <%= color.charAt(0).toUpperCase() + color.slice(1) %>
                </button>
                <% }); %>
            </div>

            <div>
                <label>Taille:</label>
                <% produit.size.split(',').forEach((size, index) => { %>
                <button type="button" class="size-button <%= index === 0 ? 'selected' : '' %>" data-size="<%= size %>">
                    <%= size.toUpperCase() %>
                </button>
                <% }); %>
            </div>

            <div class="quantity">
                <label for="quantity">Quantité:</label>
                <input type="number" id="quantity" name="quantity" value="1" min="1" max="<%= produit.quantity %>">
            </div>

            <div id="product-images">
                <% imagesPaths.forEach(imagePath => { %>
                    <img class="product-image" src="<%= imagePath %>" alt="Image du produit" width="150px" style="display: none;">
                <% }); %>
            </div>

            <button type="button" id="add-to-cart-button">Ajouter au panier</button>
        </form>
    </div>

    <form id="payment-form">
        <div>
            <label for="card-element">Carte de crédit ou de débit</label>
            <div id="card-element"></div>
        </div>
        <button id="submit-payment">Payer Directement</button>
        <div id="card-errors" role="alert"></div>
    </form>
</body>

</html>
