<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/detailsproduits.css">
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>

<body>
    
    <header class="header">
        <a class="title" href="/backend/home">
            <h1>wethefoot</h1>
        </a>
        <nav class="Catalogue-Euro">
            <a href="/backend/catalogue">Catalogue</a>
            <a href="#">Euro 2024</a>
        </nav>
        <form action="/backend/search" method="GET">
            <input type="text" name="search" id="search" placeholder="Search for a team, a brand..." autocomplete="off">
        </form>
        <nav class="Fav-Panier">
            <a href="/backend/favoris"><img src="../assets/img/contour-en-forme-de-coeur.png"></a>
            <a href="/backend/panier"><img src="../assets/img/sac-de-courses.png"></a>
        </nav>
    </header>
    
    <section>
        <h2 >Résultats de recherche</h2>
       
        <% if (produits.length === 0) { %>
<h2>AUCUN RESULTATS NE CORRESPOND A VOTRE RECHERCHE</h2>
        <% } else { %>
            <div class="container-produits">
            <% let hasResults = false; %>
            <% produits.forEach(produit => { %>
                <% const productName = produit.name.toLowerCase(); %>
                <% const searchTerm = search.toLowerCase(); %>
                <% if (productName.includes(searchTerm)) { %>
                    <% hasResults = true; %>

                            <section class="produits"> 

                        <a href="/produit/<%= produit.idProduct %>">
                            <img src="<%= produit.images[0] %>" alt="Image du produit" width="150px">
                        </a>
                            <div class="coeur"></div>
                        <h3><%= produit.name %></h3>
                        <h4>Genre: <%= produit.gender %></h4>
                        <h5 class="old-price">Prix: <%= produit.price %> <%= produit.devise %></h5>
                        <p><%= produit.reduction %> %</p>
                    </section>
                
                       
                <% } %>
            <% }); %>
            <% if (!hasResults) { %>
                    <p class="noresult">Aucun produit correspondant à votre recherche.</p>
           
            <% } %>
        <% } %>

</div>

</section>
    

</body>

<footer>
    <div class="nav-footer">
        <a href="/backend/mentions"> CONTACT </a>
        <a href="/backend/mentions"> MENTIONS LEGALES </a>
    </div>
</footer>

</html>