<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/search.css">
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>

<header class="header">
    <a class="title" href="/accueil">
        <h1> wethefoot</h1>
    </a>
    <nav class="Catalogue-Euro">
        <a href="/catalogue">Catalogue</a>
        <a href="/">Euro 2024</a>
    </nav>
    <form action="/" method="post">
        <input type="text" name="recherche" id="recherche" placeholder="Search for a team, a brand..."
            autocomplete="off">
    </form>
    <nav class="Fav-Panier">
        <a href="/favoris"><img src="../assets/img/contour-en-forme-de-coeur.png"></a>
        <a href="/panier"><img src="../assets/img/sac-de-courses.png"></a>
    </nav>
</header>

<body>
    <section class="container-catalogue">
       
        <h2>Résultats de recherche</h2>
        <div class="container-produits">
        <% if (produits.length === 0) { %>
            <h2>Aucun produit correspondant à votre recherche.</h2>
        <% } else { %>
            <% let hasResults = false; %>
            <% produits.forEach(produit => { %>
                <% const productName = produit.name.toLowerCase(); %>
                <% const searchTerm = search.toLowerCase(); %>
                <% if (productName.includes(searchTerm)) { %>
                    <% hasResults = true; %>

                            <section class="produits"> 

                        <a href="/produit/<%= produit.idProduct %>">
                            <img src="<%= produit.images[0] %>" alt="Image du produit" width="150px">
                        </a>
                            <div class="coeur"></div>
                        <h3><%= produit.name %></h3>
                        <h4>Genre: <%= produit.gender %></h4>
                        <h5 class="old-price">Prix: <%= produit.price %> <%= produit.devise %></h5>
                        <p>Réduction: <%= produit.reduction %> %</p>

                            </section>
                       
                       
                <% } %>
            <% }); %>
            <% if (!hasResults) { %>
                <h2>Aucun produit correspondant à votre recherche.</h2>
            <% } %>
        <% } %>
        
    
</div>
    </section>
</body>
<footer>
    <div class="nav-footer">
        <a href="./mentions.html"> CONTACT </a>
            <a href="./mentions.html"> MENTIONS LEGALES </a>
    </div>
</footer>


</html>